## <center> LOADING THE DATASET IN R </center>

## Loading the dataset in R to preserve R datatypes

### Option 1 - Loading as a R object

In [1]:
# Option 1 - R object
df= readRDS('Databases/ICH_database.rds')

head(df,2)
str(df[,1:2])

  patient sex hospital follow_up final_outcome nfamily_medhist tobacco
1 1       1   1        2         2             17              2
2 2       2   2        0         1              4              0
  n_tobacco drugs alcohol ... rdw  mchc mpv  mch  inr  fibrinogen maxfibrinogen
1 NA        0     0       ... 17.0 33.0  9.0 28.1 4.21 344         618
2  0        0     0       ... 14.7 32.5 10.7 29.8   NA  NA        1081
  time_between_CT_bloodanalysis age survival_days
1 0                             74      4
2 0                             81  -1000

'data.frame':	300 obs. of  2 variables:
 $ patient: num  1 2 3 4 5 6 7 8 9 10 ...
 $ sex    : Factor w/ 2 levels "1","2": 1 2 2 2 1 2 2 1 1 2 ...

In [2]:
Rdatatypes_1= sapply(df, class)

### Option 2 - Loading as a CSV

In [3]:
# Option 2 - CSV

# Load database_metadata and extract a vector with R datatypes
df_metadata= read.csv('Databases/ICH_database_metadata.csv', sep=',', colClasses=c('character'))
Rdatatypes_2= df_metadata[['R_Datatype']]

In [4]:
# Load database
df= read.csv('Databases/ICH_database.csv', sep=',', na.strings=c('1234'), colClasses=Rdatatypes_2)

head(df,2)
str(df[,1:2])

  patient sex hospital follow_up final_outcome nfamily_medhist tobacco
1 1       1   1        2         2             17              2
2 2       2   2        0         1              4              0
  n_tobacco drugs alcohol ... rdw  mchc mpv  mch  inr  fibrinogen maxfibrinogen
1 NA        0     0       ... 17.0 33.0  9.0 28.1 4.21 344         618
2  0        0     0       ... 14.7 32.5 10.7 29.8   NA  NA        1081
  time_between_CT_bloodanalysis age survival_days
1 0                             74      4
2 0                             81  -1000

'data.frame':	300 obs. of  2 variables:
 $ patient: num  1 2 3 4 5 6 7 8 9 10 ...
 $ sex    : Factor w/ 2 levels "1","2": 1 2 2 2 1 2 2 1 1 2 ...

In [5]:
Rdatatypes_2b= sapply(df, class)

### Check both ways are equivalent

In [6]:
all.equal(Rdatatypes_1, Rdatatypes_2b)

[1] TRUE